<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
    <!--<li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
    -->
		    <li><a href="/history.html"><i class="fa fa-info-circle"></i>History</a></li>
        <li><a href="/events.html"><i class="fa fa-info-circle"></i>Events</a></li>
        <li><a href="/get-involved.html"><i class="fa fa-info-circle"></i>Get Involved</a></li>
        <li><a href="/media.html"><i class="fa fa-info-circle"></i>Media</a></li>
      </ul>
    </div>
  </nav>
</header>
